.body {
  font-family: "DM Sans";
}
p {
  padding: 0;
  margin: 0%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// _______________________________________________________________________/
.section {
  padding-right: 20px;
  padding-left: 20px;
}
.container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  padding-top: 40px;
}
.reviews-card {
  margin-left: auto;
  margin-right: auto;
}
.photo-box {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.text-reviews {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 36px;

  padding-top: 10px;
  padding-bottom: 10px;
  background: #e5e5e5;
  border-radius: 0px 4px 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-reviews__paragraph {
  position: relative;
  display: inline-block;
  height: 300px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  scroll-behavior: smooth;
  padding-left: 15px;
  padding-right: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  letter-spacing: 0.04em;
  background: repeating-linear-gradient(
    #e5e5e5,
    #e5e5e5 31px,
    #e1e1e1 31px,
    #e1e1e1 32px
  );
}

.abuot-us-box__paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 16px;
}

.list-soc {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

.list-soc__link {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  color: #d31342;
  background-color: #e5e5e5;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #fff;
  }
}

.list-soc__icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

//

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slider__wrapper {
  position: relative;
  overflow: hidden;
}
.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}
.slider__item_inner {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.transition-none {
  transition: none;
}
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
.slider__control {
  position: absolute;
  top: 50%;
  width: 10px;
  height: 30px;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 1;
  user-select: none;
}
.slider__control_show {
  display: flex;
}
.slider__control:focus,
.slider__control:hover {
  text-decoration: none;
  opacity: 0.7;
}
.slider__control_prev {
  left: 1;
}
.slider__control_next {
  right: 0;
}
.slider__control::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.slider__indicators {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 90px;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
  user-select: none;
}
.slider__indicator {
  flex: 0 1 auto;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  background: #c7133e;
  background-clip: padding-box;
  cursor: pointer;
  opacity: 1;
}
.slider__indicator_active {
  opacity: 0.5;
}
